body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

h2 {
  color: #3d3d3d;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: #ddd;
}

.collections {
  display: flex;
  justify-content: space-between;
}

.collection {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.collection img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.thumbnails img {
  width: 30%;
  border-radius: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details p {
  font-weight: bold;
  color: #3d3d3d;
}

.details span {
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 20px;
}
