body {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 250px;
}
.contanier {
  display: flex;
  background-color: #ffffff;
  padding: 50px;
  width: 600px;
  height: 300px;
  border: 30px;
  box-shadow: 0 4px 8px #e6effa;

  align-items: center;
}

.img {
  padding-bottom: 270px;
  display: flex;
  align-items: center;

  width: 150px;
  height: 100px;
  border: 11px #e6effa;
}
h2 {
  font-family: Merriweather;
  font-size: 20px;
}
strong {
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
}
button {
  background-color: #ffffff;
  border: 1px solid #b9cbe2;
  border-radius: 8px;
  color: #0d1a31;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s e;
}
button:hover {
  background-color: #7496bf;
}
